<div class="row">
    <div class="col-sm-3 searchFilterPanel">
        <div class="col-sm-12">
            <label>Search book (by title or author)</label>
            <input type="text" class="form-control" [(ngModel)]="searchVal">
        </div>
        <div class="col-sm-12">
            <label>Filter by Genre</label>
            <select class="form-control" [(ngModel)]="filterValue">
                        <option *ngFor="let filterVal of filterValueArray" [ngValue]="filterVal">{{filterVal}}</option>
                    </select>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="col-sm-9">
        <app-book-detail-grid *ngFor="let book of bookData | filterData: [filterValue,searchVal]; let in = index" [bookData]="book"
            [issuedBook]="issuedBook" [getBookPlace]="getBookPlace" [ind]="in"></app-book-detail-grid>
    </div>
</div>