/* You can add global styles to this file, and also import other style files */
.padding-top-15{
    padding-top: 15px;
}

.book-image{
        height: 200px;
}
.book-grid{
    border: 0.5px solid grey;
}

.searchFilterPanel{
    margin-top: 15px;
    margin-bottom: 15px;
}

.starOutline{
    font-size: 20px;
}

.ratingStar{
    font-size: 20px;
    color:gold;
}
.overflow-y-scroll{
    overflow-y: auto;
}
